* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    display: flex;
    background-color: black;
    height: 8vh;
    color: white;
    align-items: center;
}

.image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px
}

nav {
    position: absolute;
    right: 20px;
}

li {
    display: inline;
    list-style: none;
    font-size: 20px;
    padding: 0 25px;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    background-image: url("download.jfif");
    height: 50vh;
}

.user {
    margin: 30px;
    padding: 10px;
    border: 2px solid red;
    height: 300px;
    width: 300px;
    background-image: url("download.jfif");
}