header {
    background-color: black;
    color: orange;
    height: 70px;
}

.content {
    height: 400px;
    background-color: #fff;
    color: black;
}

footer {
    background-color: purple;
    text-align: center;
    color: white;
}