* {
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: black;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60px;
    color: white;
}

li {
    display: inline;
    padding: 5px;
    font-size: 2vw;
}

nav {
    margin: 20px;
}

.container {
    background-color: brown;
    width: 50vw;
    height: 200vh;
    margin: auto;
}