* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    background-color: black;
    height: 8vh;
    color: white;
}

nav {
    float: right;
    padding-top: 8px;
}

ul {
    padding: 10px;
}

li {
    display: inline;
    list-style: none;
    font-size: 20px;
    padding: 0 25px;
}

.users {
    display: flex;
    justify-content: center;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    background-image: url("download.jfif");
    height: 50vh;
}

.user {
    margin: 30px;
    padding: 10px;
    border: 2px solid red;
    height: 300px;
    width: 300px;
    background-image: url("download.jfif");
}