* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
    background-color: black;
    color: orange;
    height: 70px;
}

.content {
    background-color: red;
    display: inline-block;
    height: 50vh;
    width: 49%;
    color: black;
}

.content2 {
    background-color: green;
    display: inline-block;
    height: 50vh;
    width: 49%;
    color: black;
}

footer {
    text-align: center;
    background-color: purple;
    color: white;
    font-size: 20px;
}